html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  color: #3a4d69;
}

header {
  background: url(../img/bg.jpg) no-repeat center/cover;
  height: 1230px;
}

header nav {
  padding-top: 38px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  line-height: 41px;
  margin-right: 50px;
  border-bottom: 2px solid #f2642200;
}

header nav ul li a:hover {
  border-bottom: 2px solid #f26522;
}

.header-cont {
  max-width: 410px;
  height: 260px;
  margin-top: 375px;
}

.header-cont h1 {
  margin-top: 50px;
  margin-bottom: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 45px;
}

.header-cont p {
  color: #a8b2ba;
  font-size: 15px;
}

section.one {
  margin-top: -388px;
}

.one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  -ms-grid-rows: 388px 388px;
      grid-template-rows: 388px 388px;
      grid-template-areas: "null one two" "null one three";
}

.one .null-content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: null;
  text-align: center;
}

.one .null-content a {
  display: inline-block;
  text-decoration: none;
  margin-top: -26px;
  margin-right: 5px;
}

.one .one-content {
  background-color: #f26522;
  color: #fff;
  padding: 70px 48px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.one .one-content p {
  margin: 20px 0;
  line-height: 21px;
}

.one .two_content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.one .three-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
  padding-top: 85px;
  padding-left: 55px;
  padding-right: 100px;
}

.one .three-content p {
  color: #83969f;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 45px;
}

.one .three-content a {
  color: #cfcfcf;
  font-size: 12px;
}

.sec-two {
  padding-top: 80px;
}

.sec-two .sec-right-cont-wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-two .sec-right-cont-wrapper .sec-two-cont-left-side {
  padding-right: 5px;
  width: 55%;
}

.sec-two .sec-right-cont-wrapper .sec-two-cont-left-side p:first-child {
  font-size: 18px;
  color: #b6b6b6;
  margin-bottom: 40px;
}

.sec-two .sec-right-cont-wrapper .sec-two-cont-right-side {
  width: 45%;
}

.sec-two .sec-right-cont-wrapper .sec-two-cont-right-side p:last-child {
  margin-top: 40px;
  margin-bottom: 80px;
}

.sec-three-bg {
  background: url(../img/secThreeBg.jpg) no-repeat center/cover;
  height: 815px;
}

.sec-three-wrapper {
  width: 1380px;
  margin-right: 0;
  margin-left: auto;
  margin-top: -459px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 459px 459px;
      grid-template-rows: 459px 459px;
      grid-template-areas: "three-one three-two three-three" "three-four three-four three-four";
}

.sec-three-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: three-one;
  background-color: #f26522;
}

.sec-three-one h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  margin-top: 115px;
  margin-left: 59px;
}

.sec-three-two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: three-two;
}

.sec-three-three {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three-three;
}

.sec-three-four {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: three-four;
  background-color: #f26522;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.sec-three-left-content {
  max-width: 525px;
  margin-right: 80px;
  margin-left: 50px;
}

.sec-three-left-content p:first-child {
  margin-bottom: 30px;
}

.sec-three-right-content {
  max-width: 525px;
}

.sec-three-right-content p:last-child {
  margin-top: 30px;
}

.sec-five-wrapper {
  max-width: 1380px;
  margin-right: 0;
  margin-left: auto;
}

.sec-form {
  background-color: #323339;
  padding-left: 50px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.sec-form h2 {
  color: #fff;
}

.sec-form form {
  margin-top: 35px;
}

.sec-form form input {
  width: 195px;
  height: 60px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}

.sec-form form input[type=email] {
  width: 295px;
}

.sec-form form input[type=submit] {
  width: 160px;
  border: 2px solid #fff;
  background-color: #323339;
  color: #fff;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.sec-form form input:not([type=submit]) {
  padding-left: 25px;
}

main {
  width: 1380px;
  background-image: url(../img/bg5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 813px;
  margin-right: 0;
  margin-left: auto;
}

.six-conteiner {
  width: 1181px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 388px 388px;
      grid-template-rows: 388px 388px;
      grid-template-areas: "one two" "one three";
}

.sec-six-wrapper {
  width: 1380px;
  margin-top: -265px;
  margin-right: 0;
  margin-left: auto;
}

.six-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
  padding: 70px 48px 0 48px;
  background-color: #f26522;
  color: #fff;
}

.six-one h2 {
  color: #fff;
  margin-bottom: 35px;
}

.six-one p:last-child {
  margin-top: 55px;
}

.six-two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.six-three {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: three;
  padding: 50px;
  color: #3a4d69;
}

.six-three h2 {
  margin-top: 35px;
  margin-bottom: 30px;
}

footer {
  background-color: #323339;
  padding: 30px;
  color: #fff;
}

footer p {
  text-align: center;
}

footer nav {
  width: 1380px;
  margin-right: 0;
  margin-left: auto;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer ul a:hover {
  color: #83969f;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    height: 100vh;
  }
  .header-cont {
    margin-top: auto;
  }
  section.one {
    margin: 0;
    display: block;
  }
  .null-content {
    display: none;
  }
  main, .sec-three-wrapper, .sec-six-wrapper, .six-conteiner {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */