@import "reset";

$color: rgba(133, 98, 98, 0.74);
$bord: #f26522;
$font: 'Raleway', sans-serif;
body{
    font-family: 'Raleway', sans-serif;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
h2{
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    color: #3a4d69;
}

header{
    background: url(../img/bg.jpg) no-repeat center/cover;
    height: 1230px;
    nav{
        padding-top: 38px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                a{
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Raleway', sans-serif;
                    color: #fff;
                    line-height: 14px+13px+14px;
                    margin-right: 50px;
                    border-bottom: 2px solid #f2642200;
                    &:hover{
                        border-bottom: 2px solid #f26522;
                    }
                }
            }
        }
    }
}
.header-cont{
    max-width: 410px;
    height: 260px;
    margin-top: 375px;
        h1{
            margin-top: 50px;
            margin-bottom: 35px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 45px;
        }
        p{
            color: #a8b2ba;
            font-size: 15px;
        }
}
section.one{
    margin-top: -388px;
}
.one{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 388px 388px;
    grid-template-areas: "null one two"
                         "null one three";   
    .null-content{
        grid-area: null;
        text-align: center;
        a{
            display: inline-block;
            text-decoration: none;
            margin-top: -26px;
            margin-right: 5px; 
        }
    }
    .one-content{
        background-color: #f26522;
        color: #fff;
        padding: 70px 48px;
        grid-area: one;
        p{
            margin: 20px 0;
            line-height: 21px;
        }
    }
    .two_content{
        grid-area: two;
    }
    .three-content{
        grid-area: three;
        padding-top: 85px;
        padding-left: 55px;
        padding-right: 100px;
        p{
            color: #83969f;
            font-size: 14px;
            margin-top: 35px;
            margin-bottom: 45px;
        }
        a{
            color: #cfcfcf;
            font-size: 12px;
        }
    }
}
.sec-two{
    padding-top: 80px;
        .sec-right-cont-wrapper{
            margin-top: 40px;
            display: flex;
                .sec-two-cont-left-side{
                    padding-right: 5px;
                    width: 55%;
                    p:first-child{
                        font-size: 18px;
                        color: #b6b6b6;
                        margin-bottom: 40px;
                    }
                }
            .sec-two-cont-right-side{
                width: 45%;
                p:last-child{
                    margin-top: 40px;
                    margin-bottom: 80px;
                }
            }
        }
}
.sec-three-bg{
    background: url(../img/secThreeBg.jpg) no-repeat center/cover;
    height: 815px;
}
.sec-three-wrapper{
    width: 1380px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -459px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 459px 459px;
    grid-template-areas: "three-one three-two three-three"
                         "three-four three-four three-four";       
}
.sec-three-one{
    grid-area: three-one;
    background-color: #f26522;
    h1{
        font-size: 60px;
        color: #fff;
        font-weight: 300;
        margin-top: 115px;
        margin-left: 59px;
    }
}
.sec-three-two{
    grid-area: three-two;
}
.sec-three-three{
    grid-area: three-three;
}
.sec-three-four{
    grid-area: three-four;
    background-color: #f26522;
    display: flex;    
    padding-top: 100px;
}
.sec-three-left-content{
    max-width: 525px;
    margin-right: 80px;
    margin-left: 50px;
    p:first-child{
        margin-bottom: 30px;
    }
}
.sec-three-right-content{
    max-width: 525px;
    p:last-child{
        margin-top: 30px;;
    }
}
.sec-five-wrapper{
    max-width: 1380px;
    margin-right: 0;
    margin-left: auto;
}
.sec-form{
    background-color: #323339;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 80px;
    h2{
        color: #fff;
    }
    form{
        margin-top: 35px;
        input{
            width: 195px;
            height: 60px;
            border: none;
            border-radius: 2px;
            margin-right: 10px;
            font-size: 12px;
            font-family:  'Raleway', sans-serif;
            &[type=email]{
                width: 295px;
            }
            &[type=submit]{
                width: 160px;
                border: 2px solid #fff;
                background-color: #323339;
                color: #fff;
                font-size: 15px;
                font-family:  'Raleway', sans-serif;
            }
        }
        input:not([type=submit]){
            padding-left:25px; 
        }
    }
}
main{
    width: 1380px;
    background-image: url(../img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 813px;
    margin-right: 0;
    margin-left: auto;
}
.six-conteiner{
    width: 1181px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 388px 388px;
    grid-template-areas: "one two"
                         "one three";
}
.sec-six-wrapper{
    width: 1380px;
    margin-top: -265px;
    margin-right: 0;
    margin-left: auto;
}
.six-one{
    grid-area: one;
    padding: 70px 48px 0 48px;
    background-color: #f26522;
    color: #fff;
    h2{
        color: #fff;
        margin-bottom: 35px;
    }
    p:last-child{
        margin-top: 55px;
    }
}
.six-two{
    grid-area: two;
}
.six-three{
    grid-area: three;
    padding: 50px;
    color: #3a4d69;
    h2{
        margin-top: 35px;
        margin-bottom: 30px;;
    }
}
footer{
    background-color: #323339;
    padding: 30px;
    color: #fff;
    p{
        text-align: center;
    }
    nav{
        width: 1380px;
        margin-right: 0;
        margin-left: auto;
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
        }
        a{
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            margin-right: 50px;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
            &:hover{
                color: #83969f;
            }
        }
    }
}
@media (min-width: 1025px) and (max-width: 1280px){
    header{
        height: 100vh;
    }
    .header-cont{
        margin-top: auto;
    }
    section.one{
        margin: 0;
        display: block;
    }
    .null-content{
        display: none;
    }
    main, .sec-three-wrapper, .sec-six-wrapper, .six-conteiner{
        width: auto;
    }
}